@font-face
	font-family: "Dosis"
	src: url("../statics/fonts/Dosis-Regular.ttf")
	font-weight: 400
	font-style: normal

@font-face
	font-family: "Dosis"
	src: url("../statics/fonts/Dosis-Medium.ttf")
	font-weight: 500
	font-style: normal
