@import variables

.pokemons-page
	display: flex
	flex-direction: column
	align-items: center
	padding: 2vw 5vw 0 5vw

	@media (orientation: portrait)
		padding: 3vw 5vw 0 5vw

	.search-input
	  display: flex
	  align-items: center
	  margin-bottom: 20px

	  .search-input-image
		  height: 40px
		  width: 40px
		  background: url('../statics/pokebal-image.png') center no-repeat
		  background-size: cover

	  input
		  display: block
		  height: 40px
		  width: 30vw
		  padding: 10px
		  margin: 0 15px
		  text-align: center
		  font-size: 20px
		  outline: none
		  border: 1px solid #ececec
		  border-radius: 20px
		  box-sizing: border-box
		  transition: box-shadow $transition ease
		  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5)

		  &:focus
			  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5)

		  @media (orientation: portrait)
		    width: 50vw

.pokemons-list
  display: flex
  width: 100%
  height: 100%
  flex-wrap: wrap
  justify-content: center
  transition: opacity $transition ease

  &.fetching
	  opacity: .7

  .pokemon-card
	  display: flex
	  flex-direction: column
	  border-radius: 20px
	  margin: 15px
	  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5), 0px 3px 3px rgba(255, 255, 255, 0.25) inset
	  overflow: hidden
	  outline: none
	  line-height: 2
	  cursor: pointer
	  user-select: none
	  transition: box-shadow $transition ease

	  &:hover
		  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5), 2px 5px 3px rgba(255, 255, 255, 0.25) inset

	  &:active
		  box-shadow: 0px 3px 3px rgba(255, 255, 255, 0.25), 0px 3px 15px rgba(0, 0, 0, 0.5) inset
		  *
			  transform: translateY(2px)

	  img
		  width: 100px
		  height: 100px
		  padding: 1vw
		  background-size: cover
		  background-repeat: no-repeat
		  background-position: center
		  transition: transform $transition ease
		  pointer-events: none

		  @media (orientation: portrait)
			  padding: 1.5vw

		.name
			text-align: center
			width: 100%
			padding: 5px
			box-sizing: border-box
			user-select: none
			transition: transform $transition ease
			color: #6b6a6a
