@import variables

.pokemon-info-page
	display: flex
	flex-wrap: wrap
	justify-content: center
	align-items: center
	font-size: 2vw
	text-align: center

	@media (orientation: portrait)
		padding-top: 10vw
		font-size: 5vw
		justify-content: center

	img
		width: 30vw
		height: 30vw
		padding: 2vw
		box-sizing: border-box

		@media (orientation: portrait)
		  padding: 10vw
		  width: 100vw
		  height: 100vw

	.info, .stats
		max-width: 30vw
		display: flex
		flex-direction: column
		align-items: center

		@media (orientation: portrait)
			max-width: 100vw
			width: 100vw
			margin-bottom: $marginPortrait

		.info-item
			margin-bottom: $margin

			.name
				margin: $margin
				font-weight: bold

				@media (orientation: portrait)
					margin: $marginPortrait

			.types, .abilities
				display: flex
				flex-wrap: wrap
				justify-content: center

				.type
					margin: $margin
					padding: 0 1vw
					border-radius: 20px
					color: white

					@media (orientation: portrait)
						padding: 0 3vw
						margin: $marginPortrait

				.ability
					text-decoration: none
					margin: $margin

					@media (orientation: portrait)
						margin: $marginPortrait
		.stat
			display: flex
			justify-content: center
			align-items: center
			margin-bottom: $margin

			@media (orientation: portrait)
				margin: $marginPortrait

			.name
				width: 14vw
				margin-right: 1vw
				text-align: right

				@media (orientation: portrait)
					width: 35vw

			.max-value-line
				position: relative
				width: 14vw
				background-color: #bebebe
				border-radius: 50px
				overflow: hidden

				@media (orientation: portrait)
					width: 45vw

				.value-text
					color: #fff
					position: relative
					z-index: 1

				.curr-value-line
					position: absolute
					height: 100%
					top: 0
					left: 0
					border-radius: inherit
					background-color: #8f8f8f
