@import styles/fonts
@import styles/main
@import styles/ability-info
@import styles/pokemon-info

body
  margin: 0
  background-color: #e7e7e7

body, input
  font-family: "Dosis", sans-serif
  font-weight: 500

.loading, .fetch-error
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  font-size: 30px
  display: flex
  text-align: center
  align-items: center
  justify-content: center

.back-button
  position: absolute
  top: 2vw
  left: 2vw
  text-decoration: none
  font-size: 20px
  background-color: #8f8f8f
  color: #fff
  padding: 10px
  border-radius: 20px
  cursor: pointer

  @media (orientation: portrait)
    top: 5vw
    left: 5vw

.poison
  background-color: #A33EA1
.fire
  background-color: #EE8130
.normal
  background-color: #A8A77A
.water
  background-color: #6390F0
.electric
  background-color: #f7d02c
.grass
  background-color: #7AC74C
.ice
  background-color: #96D9D6
.fighting
  background-color: #C22E28
.ground
  background-color: #E2BF65
.flying
  background-color: #A98FF3
.psychic
  background-color: #F95587
.bug
  background-color: #A6B91A
.rock
  background-color: #B6A136
.ghost
  background-color: #735797
.dragon
  background-color: #735797
.dark
  background-color: #705746
.steel
  background-color: #b7b7ce
.fairy
  background-color: #D685AD
